<%= form_for @new_list do |f| %>

  <% if @new_list.errors.any? %>
    <h2><%= pluralize(@new_list.errors.count, "error") %> prohibited this list from being saved:</h2>
    <ul>
      <% @new_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.hidden_field :board_id, value: board.id %>
  <%= f.text_field :title, required: 'required', placeholder: 'Add a list...' %><br>
  <%= f.datetime_field :duedate %><br>
  <%= f.submit 'Add', class: 'ui green mini button' %>

<% end %>


<style type="text/css">
  #new_list input[type=text],
  #new_list input[type=datetime-local] {
    width: 230px;
    background: rgba(0,0,0,0.2);
    border-radius: 3px;
    outline: none;
    border-color: transparent;
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
  }

  #new_list input[type=submit],
  #new_list input[type=datetime-local] {
    /*float: right !important;*/
    display: none;
  }
</style>
