<div class="list">
  <h5><%= list.title %> - <%= list.cards.size %> cards</h5>

  <div class="cards sortable">
    <% list.cards.each do |card| %>
    <div class="card <%= 'checked' if card.checked %>"> 
      <p class="card-content"><%= card.content %></p>

      <div class="collaborators">
      <% if card.collaborators.count > 0 %>
        <% card.collaborators.each do |collaborator| %>
          <a class="collaborator avatar">
          <%= collaborator.avatar %>
          </a>
        <% end %>
      <% end %>
      </div>
    </div>

    <% end %>
  </div>

  <%= render 'cards/form', :list => list %>
</div>