<div class="board-info">
  <div class="left-info">
    <h3><%= @board.name %></h3>
    <p class="frello btn"><%= @board.private ? 'Private' : 'Public' %></p>
  </div>

  <div class="right-info">
    <a class="item sidebar-toggler frello btn">
      Show Feeds...
    </a>
  </div>
</div>

<div class="board" style="background: <%= @board.color %>;">
  <div id="lists-column" style="width: <%= @board.lists.size * 228 + 238 %>px">
    <div id="lists" >
      <% @board.lists.each do |list| %>
        <%= render list %>
      <% end %>
    </div>
   
    <div id="newlist" class="card">
      <%= render 'lists/form', board: @board %>
    </div>
  </div>
</div>