Board: <%= @board.name %>

<%= render 'lists/form', board: @board %>

Lists<br>
<% @board.lists.each do |list| %>
  <li><%= list.title %></li>

  <ol>
  <% list.cards.each do |card| %>
    <li><%= card.content %></li>
  <% end %>
  </ol>

  <%= render 'cards/form', :list => list %>
<% end %>
