Board: <%= @board.name %>

<%= render 'tasks/form', board: @board %>

Tasks<br>
<% @board.tasks.each do |task| %>
  <li><%= task.title %></li>

  <ol>
  <% task.cards.each do |card| %>
    <li class="<%= 'checked_card' if card.checked %>"><%= card.content %> <%= button_to "check", card_path(card), method: 'patch', params: {update_type: "toggle_check"} %></li>
  <% end %>
  </ol>

  <%= render 'cards/form', :task => task %>
<% end %>


<style>
  .checked_card {
    text-decoration: line-through;
  }
</style>