Board: <%= @board.name %>

<%= render 'tasks/form', board: @board %>

Tasks<br>
<% @board.tasks.each do |task| %>
  <li><%= task.title %></li>

  <ol>
  <% task.cards.each do |card| %>
    <li class="<%= 'checked_card' if card.checked %>"><%= card.content %>

      <form class="button_to" method="post" action="/cards/<%= card.id %>">
        <input type="hidden" name="update_type" value="toggle_check">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="<%= 'un' if card.checked %>check">
      </form>
  <% end %>
  </ol>

  <%= render 'cards/form', :task => task %>
<% end %>


<style>
  .checked_card {
    color: #999;
  }
</style>