Board: <%= @board.name %>

<%= render 'tasks/form', board: @board %>

Tasks<br>
<% @board.tasks.each do |task| %>
  <li><%= task.title %></li>

  <ol>
  <% task.cards.each do |card| %>
    <li><%= card.content %></li>
  <% end %>
  </ol>

  <%= render 'cards/form', :task => task %>
<% end %>