
<!-- 
  trello blue: #2d6daf
  frello green: #5ebb9f
 -->
<div class="ui container">
  <h3>Personal Boards</h3>

  <div class="ui grid" id="boards">
    <%# <% @boards.each do |board| %1> %>
    <%#   <a href="/users/<%= @user.id %1>/boards/<%= board.id %1>"> %>
    <%#     <div class="board-tile four wide column" style="background: <%= board.color %1>"> %>
    <%#       <p><%= board.name %1></p> %>
    <%#     </div> %>
    <%#   </a> %>
    <%# <% end %1> %>

    <a>
      <div class="board-tile create-board four wide column" style="background: whitesmoke">
        <%= form_for [current_user, @new_board], :html=> {:id => 'new_board'} do |f| %>
          <%= f.color_field :color, value: "#2d6daf" %>
          <%= f.text_field :name, placeholder: 'Create new board...', required: 'required' %>
          <%= f.submit '+', 'onsubmit':'return false;', class: 'ui mini button', id: 'createboard' %>
        <% end %>
      </div>
    </a>
  </div>
</div>


