home

<%= form_for [current_user, @new_board] do |f| %>
  <%= f.text_field :name %>
  <%= f.color_field :color, value: "#5ebb9f" %>
  <%= f.submit 'Add' %>
<% end %>


<% @boards.each do |board| %>
  <a href="/users/<%= @user.id %>/boards/<%= board.id %>">
    <div class="board-tile" style="background: <%= board.color %>">
        <p><%= board.name %></p>
    </div>
  </a>
<% end %>


<style type="text/css">
  .board-tile {
    display: inline-block;
    border-radius: 2px;
    width: 230px;
    height: 70px;
    padding: 10px;
    margin: 10px;
  }
  .board-tile p {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
  }
</style>