
<!-- 
  trello blue: #2d6daf
  frello green: #5ebb9f
 -->
<div class="ui container">
  <h3>Personal Boards</h3>

  <div class="ui grid" id="boards">
    <% @boards.each do |board| %>
      <a href="/users/<%= @user.id %>/boards/<%= board.id %>">
        <div class="board-tile four wide column" style="background: <%= board.color %>">
          <p><%= board.name %></p>
        </div>
      </a>
    <% end %>

    <a>
      <div class="board-tile create-board four wide column" style="background: whitesmoke">
        <%= form_for [current_user, @new_board], :html=> {:id => 'new_board'} do |f| %>
          <%= f.color_field :color, value: "#2d6daf" %>
          <%= f.text_field :name, placeholder: 'Create new board...', required: 'required' %>
          <%= f.submit '+', 'onsubmit':'return false;', class: 'ui mini button', id: 'createboard' %>
        <% end %>
      </div>
    </a>
  </div>
</div>



<style type="text/css">
  .board-tile {
    display: inline-block;
    border-radius: 3px;
    width: 225px;
    height: 80px;
    padding: 5px 10px;
    margin: 6px -8px;
  }

  .board-tile a {
    display: inline-block;
  } 

  .board-tile p {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
  }

  .board-tile.create-board {
    padding: 25px 20px;
    font-size: 12px;
  }

  .board-tile.create-board input {
    background: none;
    border-color: transparent;
    outline: none;
    margin: 0;
    display: inline-block;
  }

  .board-tile.create-board input[type=text]{
    width: 60%;
  }

  .board-tile.create-board input[type=color], 
  .board-tile.create-board input[type=submit] {
    width: 30px;
    height: 30px;
  }

  .board-tile.create-board input[type=submit] {
    color: #888;
    font-size: 20px;
    font-weight: 900;
    background: #ccc;
    padding: 0 1px 2px;
    height: 20px;
    border-radius: 2px;
  }
</style>
