<!DOCTYPE html>
<html>
  <head>
    <title>RailsAssm</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'semantic.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="background: <%= @board.color if @board %>">
     <header>
       <%= render 'layouts/nav' %>
     </header>

     <div class="ui pushable">
      <%= render 'layouts/sidebar' if @board %>
      <div class="pusher">
        <div class="ui">
          <main>
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: name %>
            <% end -%>

            <%= yield %>
          </main>
        </div>
      </div>
    </div>
    <!-- JS -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
